{% set NAME_PREFIX = env["deployment"] %}
{% set REGION = properties["region"] %}
{% set VPC_NAME = NAME_PREFIX + '-network' %}
{% set PUBLIC_SUBNET =  NAME_PREFIX + '-public-subnet-' + REGION %}
{% set PRIVATE_SUBNET = NAME_PREFIX + '-private-subnet-' + REGION  %}

resources:
# GCP Custom Network
- name: {{ VPC_NAME }}
  type: customnetwork-template.jinja

# GCP Subnets (us-central, canada, uk and mumbai)
- name: {{ NAME_PREFIX + '-subnet' }}
  type: subnetwork-template.jinja
  properties:
    network: $(ref.{{ VPC_NAME }}.selfLink)
    subnets:
    - name: {{ PUBLIC_SUBNET }}
      ipCidrRange: {{ properties["publicSubnetCidrRange"] }}
      region: {{ REGION }}
    - name: {{ PRIVATE_SUBNET }}
      ipCidrRange: {{ properties["privateSubnetCidrRange"] }}
      region: {{ REGION }}

# GCP Firewall Rules
- name: {{ NAME_PREFIX + '-firewall-allow-bastion' }}
  type: firewall-template.jinja
  properties:
    network: $(ref.{{ VPC_NAME }}.selfLink)
    IPProtocol: TCP
    Port: [22, 3389]
    targetTags: bastion-machine

- name: {{ NAME_PREFIX + '-firewall-allow-http-https' }}
  type: firewall-template.jinja
  properties:
    network: $(ref.{{ VPC_NAME }}.selfLink)
    IPProtocol: TCP
    Port: [80, 443]

- name: {{ NAME_PREFIX + '-firewall-allow-icmp' }}
  type: firewall-template.jinja
  properties:
    network: $(ref.{{ VPC_NAME }}.selfLink)
    IPProtocol: ICMP
    Port: []

- name: {{ NAME_PREFIX + '-cloud-router' }}
  type: route-template.jinja
  properties:
    use_custom_network: true
    network: $(ref.{{ VPC_NAME }}.selfLink)
    subnets: 
    - region: {{ REGION }}
      subnet: $(ref.{{ PRIVATE_SUBNET }}.selfLink)

- name: {{ NAME_PREFIX + '-cloud-nat' }}
  type: cloud-nat-template.jinja
  properties:
    use_custom_network: true
    network: $(ref.{{ VPC_NAME }}.selfLink)

# GCP Kubernetes Engine
- name: {{ NAME_PREFIX + '-gke-cluster' }}
  type: gke-cluster-template1.jinja
  properties:
    region: us-central1
    zone: us-central1-a
     # Set this to v1beta1 to use beta features such as private clusters
    gkeApiVersion: {{ properties["gkeApiVersion"] }}
    # An arbitrary string appending to name of nodepools
    # bump this if you want to modify the node pools.
    # This will cause existing node pools to be deleted and new ones to be created.
    # Use prefix v so it will be treated as a string.
    pool-version: v1
    # Two is small enough to fit within default quota.
    cpu-pool-initialNodeCount: {{ properties["initialNodeCount"] }}
    gpu-pool-initialNodeCount: 0
    # Whether to deploy the new Stackdriver Kubernetes agents
    stackdriver-kubernetes: false
    
    initialNodeCount: {{ properties["initialNodeCount"] }}
    network: $(ref.boomi-network.selfLink)
    subnetwork: $(ref.private-subnet-1.selfLink)
    securityConfig:
      # Whether to use a cluster with private IPs
      # Use v1beta1 api
      privatecluster: {{ properties["privatecluster"] }}
      # masterIpv4CidrBlock for private clusters, if enabled
      # Use v1beta1 api
      masterIpv4CidrBlock: 172.16.0.16/28
      # Protect worker node metadata from pods
      # Use v1beta1 api
      secureNodeMetadata: true
      # Whether to enable Pod Security Policy Admission Controller
      # Use v1beta1 api
      podSecurityPolicy: true
      masterAuthorizedNetworksConfig:
        cidrBlocks:
        - cidrBlock: 1.2.3.4/32
        - cidrBlock: 5.6.7.8/32
        enabled: true