resources:

- name: {{ env["name"] }}-vm
  type: compute.v1.instanceTemplate
  properties:
    properties:
      machineType: {{ properties["machineType"] }}
      networkInterfaces:
        - network: {{ properties["network"] }}
          subnetwork: {{ properties["subnetwork"] }}
          {% if properties['externalIP'] %}
          accessConfigs:
          - name: External NAT
            type: ONE_TO_ONE_NAT
          {% endif %}
      disks:
      - deviceName: boot
        boot: true
        type: PERSISTENT
        autoDelete: true
        mode: READ_WRITE
        initializeParams:
          diskName: {{ env["name"] }}-disk
          sourceImage: {{ properties["machineImage"] }}
      {% if "tags" in properties %}
      tags:
        items:
          - {{ properties["tags"] }}
      {% endif %}
      labels:
       fixedlabel: boomi-bastion-machine

- name: {{ env["name"] }}-igm
  {% if "region" in properties %}
  type: compute.v1.regionInstanceGroupManager
  {% else %}
  type: compute.v1.instanceGroupManager
  {% endif %}
  properties:
    {% if "region" in properties %}
    region: {{ properties["region"] }}
    failoverAction: NO_FAILOVER
    {% else %}
    zone: {{ properties["zone"] }}
    {% endif %}
    targetSize: {{ properties["targetSize"] }}
    baseInstanceName: {{ env["name"] }}-bastion-instance
    instanceTemplate: $(ref.{{ env["name"] }}-vm.selfLink)
