resources:
- name: {{ env["name"] }}
  type: compute.v1.instance  
  properties:
     machineType: zones/{{ properties["zone"] }}/machineTypes/{{ properties["machineType"] }}
     zone: {{ properties["zone"] }}
     networkInterfaces:
      - network: {{ properties["network"] }}
        subnetwork: {{ properties["subnetwork"] }}
{% if properties['external_controller_ip'] %}
        accessConfigs:
        - name: External NAT
          type: ONE_TO_ONE_NAT
{% endif %}
     disks:
      - deviceName: {{ env["name"] }}
        type: PERSISTENT
        boot: true
        autoDelete: true
        initializeParams:
          sourceImage: {{ properties["machineImage"] }}
          diskSizeGb: {{ properties["controller_disk_size_gb"] }}
     labels:
      fixedlabel: boomi-bastion-machine
