resources:
{% for subnet in properties["subnets"] %}
  {% set region = subnet["region"] %}
  {% set sub = subnet["subnet"] %}
- name: {{ env["name"] }}-{{ region }}
  type: compute.v1.router
  properties:
    description: route with default internet gateway
    {% if properties and properties["use_custom_network"]==true %}
    network: {{ properties["network"] }}
    {% else %}
    network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/default
    {% endif %}
    region: {{ region }}
    nats:
    - name: {{ env["name"] ]}}-{{ region }}-nat
      natIpAllocateOption: "AUTO_ONLY"
      sourceSubnetworkIpRangesToNat: "10.130.48.0/20"
      subnetworks: 
      - name: {{ sub }}
        sourceIpRangesToNat: ["PRIMARY_IP_RANGE"]
{% endfor %}
