resources:
{% for subnet in properties["subnets"] %}
  {% set name = subnet["name"] %}
  {% set ipCidrRange = subnet["ipCidrRange"] %}
  {% set region = subnet["region"] %}
- name: {{ name }}
  type: compute.v1.subnetwork
  properties:
    network: {{ properties["network"] }}
    ipCidrRange: {{ ipCidrRange }}
    region: {{ region }}
{% endfor %}
