resources:
{% for subnet in properties["subnets"] %}
  {% set name = subnet["name"] %}
  {% set range = subnet["range"] %}
  {% set region = subnet["region"] %}
- name: {{ env["name"] }}-{{ name }}
  type: compute.v1.subnetwork
  properties:
    ipCidrRange: {{ range }}
    network: {{ properties["network"]}}
    region: {{ region }}
{% endfor %}